/node_modules
/public/storage
/storage/*.key
/vendor
.env
.git
.gitignore
.dockerignore
.phpunit.result.cache
.php-cs-fixer.cache
.phpcs.xml
.php_cs.cache
.phpcs.cache
.php_cs.dist
.phpunit.cache
.idea
.vscode
.DS_Store
*.log
npm-debug.log
yarn-error.log
