/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/*.index
*.index-wal
*.index-shm
*.index-shm
*.index-shm
*.index-shm
*.index-shm
.DS_Store
*.json
.php-cs-fixer.cache
_ide_helper.php
_ide_helper_models.php
storage/frameworks
storage/framework/cache/data 
/storage/framework/views
storage/framework/views/4ee172f20fef2ec102cf2936d2d3c84ec7592ff4.php
/storage/framework/views
